* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(81, 191, 255);
}

header {
    font-weight: bolder;
    font-size: 20px;
}

main {
    background-color: white;
    width: 350px;
    margin: auto;
    border-radius: 6px;
    box-shadow: 4px 4px 5px rgba(107, 107, 107, 0.863);
    padding-top: 1px;
    padding-bottom: 2px;
}

input#bot {
    font-size: 20px;
    font-weight: bolder;
    border-width: 1px;
    border-radius: 6px;
}

input#bot:hover {
    background-color: green;
    color: white;
}

footer {
    background-color: rgba(0, 0, 0, 0.918);
    color: white;
    width: 325px;
    margin: auto;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: rgb(121, 129, 245);
}

a:hover {
    Color: rgb(109, 177, 255);
}